<section class="about-banner" style="background: linear-gradient(90deg, {{section.settings.about_banner_color_bg_left}} 50%, {{section.settings.about_banner_color_bg_right}} 50%);">
        <h1>{{ page.title | upcase }}</h1> 
       </section>
       
       {% schema %}
       {
         "name": "Blog Banner",
         "settings": [
           {
             "id": "blog_banner_color_bg_left",
             "type": "color",
             "label": "Pick a color for the left side",
             "default": "#ffe2cf"
             },
             {
             "id": "blog_banner_color_bg_right",
             "type": "color",
             "label": "Pick a color for the right side",
             "default": "#fbe8b1"
             }
         ]
       }
       {% endschema %}