footer {
  clear: both;
  padding: 25px 0 ;
  text-align: center;
 img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 30px!important;

 } 
 p {
   margin-bottom: 0px!important;
 }
}

.social-icons {
 color: #d25100;
  display: inline-block;
  font-size: 30pt;
  padding-right: 5px;
}